* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1450px;
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  nav {
    ul {
      display: flex;
      gap: 20px;
    }
    li {
      list-style-type: none;
      cursor: pointer;
    }
  }
}

.homepage-container {
  margin-top: 100px;
  margin-bottom: 200px;
  .wrapper-content {
    display: flex;

    .main-content {
      flex-basis: 60%;

      .connect {
        margin-top: 30px;
      }

      button {
        display: block;
        outline: none;
        background-color: #0558d2;
        color: #fff;
        min-width: 120px;
        border: none;
        margin-bottom: 20px;
        font-weight: 700;
        padding: 10px 0;
        cursor: pointer;
        font-size: 16px;
        border-radius: 4px;
      }
    }

    .left-ad,
    .right-ad {
      flex-basis: 20%;
    }
  }
}
